{{define "body"}}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="row">
        <h1 class="page-header">
            Campaign Presets
        </h1>
    </div>
    <div id="flashes" class="row"></div>
    <div class="row">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-backdrop="static" data-target="#modal"
            onclick="edit('new')">
            <i class="fa fa-plus"></i> New Preset</button>
    </div>
    &nbsp;
    <div id="loading">
        <i class="fa fa-spinner fa-spin fa-4x"></i>
    </div>
    <div id="emptyMessage" class="row" style="display:none;">
        <div class="alert alert-info">
            No presets created yet. Let's create one!
        </div>
    </div>
    <div class="row">
        <table id="presetsTable" class="table" style="display:none;">
            <thead>
                <tr>
                    <th class="col-md-3">Name</th>
                    <th class="col-md-3">Template</th>
                    <th class="col-md-3">Created Date</th>
                    <th class="col-md-3 no-sort"></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="presetModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="dismiss()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="presetModalLabel">New Preset</h4>
            </div>
            <div class="modal-body" id="modal_body">
                
                <div class="row" id="modal.flashes"></div>
                <div class="form-group">
                    <label class="control-label" for="name">Name:</label>
                    <input type="text" class="form-control" id="name" placeholder="Preset name" autofocus>
                    
                    <label class="control-label" for="template">Email Template:</label>
                    <select class="form-control" placeholder="Template Name" id="template">
                        <option></option>
                    </select>
                    
                    <label class="control-label" for="page">Landing Page:</label>
                    <select class="form-control" placeholder="Landing Page" id="page">
                        <option></option>
                    </select>
                    
                    <label class="control-label" for="url">URL:
                        <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="Location of Gophish listener (must be reachable by targets!)"></i>
                    </label>
                    <input type="text" class="form-control" placeholder="http://192.168.1.1" id="url"/>
                    
                    <label class="control-label" for="profile">Sending Profile:</label>
                    <select class="form-control" placeholder="Sending Profile" id="profile">
                        <option></option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="dismiss()">Cancel</button>
                <button type="button" id="saveButton" class="btn btn-primary" onclick="save()">
                    <i class="fa fa-save"></i> Save Preset</button>
            </div>
        </div>
    </div>
</div>
{{end}} {{define "scripts"}}
<script src="/js/dist/app/presets.min.js"></script>
{{end}}
